@use '@angular/material' as mat;
@use './_theme-colors' as my-theme;

html {
  // Apply the dark theme by default
  @include material.theme(
    (
      color: (
        primary: my-theme.$primary-palette,
        tertiary: my-theme.$tertiary-palette,
        theme-type: dark,
      ),
      typography: Roboto,
      density: 0,
    )
  );

  // Use high contrast dark theme colors when users prefer contrast
  @media (prefers-contrast: more) {
    @include my-theme.high-contrast-overrides(dark);
  }
}
